<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <i class="bordered inverted teal users icon"></i>
      <div class="content">
        Criar nova conta
      </div>
    </h2>


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "ui large form" }) do |f| %>
      <div class="ui stacked segment"> 
        <%= devise_error_messages! %>
      
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.text_field :name, placeholder: "Nome",autofocus: true %>
          </div>
        </div>

        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <%= f.email_field :email, placeholder: "E-mail" %>
          </div>
        </div>

        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i> 
            <%= f.password_field :password, placeholder: "Senha (8 caracteres minimos)", autocomplete: "off" %>
          </div>
        </div>

        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i> 
            <%= f.password_field :password_confirmation, placeholder: "Confirmação de Senha", autocomplete: "off" %>
          </div>
        </div>

        <%= f.submit "Cadastrar", class: "ui fluid large teal submit button" %>
      </div>
    <% end %>

    <div class="ui message">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
