<%= form_for @contact_list.fields.build, url: contact_list_field_index_path(@contact_list), html: { method: :post } do |f| %>

    <% if type_field == "text" %>
      <div class="field">
        <label for="field_content"><%= label %></label>
        <%= f.text_field :content %>
      </div>
    <% elsif type_field == "text_area" %>
      <div class="field">
        <label for="field_area_content"><%= label %></label>
        <%= f.text_area :area_content %>
      </div>
    <% elsif type_field == "combobox" %>
      <div class="field">
        <label for="field_combobox"><%= label %></label>
        <%= f.text_area :combobox %>
      </div>
    <% end -%>
    
    <%= f.submit "Atualizar" %>
<% end -%>