<%= form_for(@contact_list, html: { class: "ui form" }) do |f| %>
  <% if @contact_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_list.errors.count, "error") %> prohibited this contact_list from being saved:</h2>

      <ul>
      <% @contact_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email, "E-mail" %>
    <%= f.text_field :email %>
  </div>
  

  <%= f.fields_for :fields do |field| %>

    <% if @contact_list.custom_fields.is_text? %>

      <div class="field">
        <%= field.label :content, @contact_list.field.custom_field.title %>
        <%= field.text_field :content %>
      </div>
      
    <% elsif @contact_list.custom_field.is_text_area? %>

      <div class="field">
        <%= field.label :area_content, @contact_list.custom_field.title %>
        <%= field.text_area :area_content %>
      </div>

    <% elsif @contact_list.custom_field.is_combobox? %>

      <div class="field">
        <%= field.label :combobox, @contact_list.custom_field.title %>
        <%= field.select :combobox do %>
          <% @contact_list.custom_field.items_split.each do |item| %>
            <option value="<%= item %>"><%= item %></option>
          <% end -%>
        <% end -%>
      </div>

    <% end -%>

  <% end -%>




  <%= f.submit button_name, class: "ui button blue" %>
<% end %> 