<%= form_for(@contact_list, html: { class: "ui form" }) do |f| %>
  <% if @contact_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_list.errors.count, "error") %> prohibited this contact_list from being saved:</h2>

      <ul>
      <% @contact_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email, "E-mail" %>
    <%= f.text_field :email %>
  </div>
  
  <% if @custom_fields.count > 0 %>
    <% @custom_fields.each do |custom_field| %>
      
      <%= f.fields_for :fields do |ff| %>

        <% if custom_field.is_text? %>

          <div class="field">
            <%= ff.label :content, custom_field.title %>
            <%= ff.text_field :content %>
          </div>

        <% elsif custom_field.is_text_area? %>

          <div class="field">
            <%= ff.label :area_content, custom_field.title %>
            <%= ff.text_area :area_content %>
          </div>

        <% elsif custom_field.is_combobox? %>
          
          <div class="field">
            <%= ff.label :combobox, custom_field.title %>
            <%= ff.text_area :combobox %>
          </div>

        <% end -%>
    
      <% end -%>

    <% end -%>
  <% else -%>
    <p>Sem custom fields</p>
  <% end -%>

  <%= f.submit button_name, class: "ui button blue" %>
<% end %> 