<%= form_for(@contact_list, html: { class: "ui form" }) do |f| %>
  <% if @contact_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_list.errors.count, "error") %> prohibited this contact_list from being saved:</h2>

      <ul>
      <% @contact_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email, "E-mail" %>
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= f.submit button_name, class: "ui button blue" %>
  </div>
<% end %> 