<table class="ui selectable celled right aligned table">
  <thead>
    <tr>
      <th class="left aligned">Nome</th>
      <th>E-mail</th>
      
      <% if @custom_fields %>
        <% @custom_fields.each do |custom_field| %>
          <th class="field"><%= custom_field.title %></th>
        <% end -%>
      <% end -%>
      
      <th>Ações</th>
    </tr>
  </thead>
  <tbody class="contacts">
    
    <% @contact_lists.each do |contact_list| %>
      <tr class="contact">
        <td class="contact-name left aligned"><%= contact_list.name %></td>
        <td class="contact-email"><%= contact_list.email %></td>
        <!-- get fields -->
        <% contact_list.fields.each do |field| %>

          <% if field.custom_field.is_text? %>
            <td class="contact-fields"><%= field.content %></td>
          <% elsif field.custom_field.is_text_area? %>
            <td class="contact-fields"><%= field.area_content %></td>
          <% elsif field.custom_field.is_combobox? %>
            <td class="contact-fields"><%= field.combobox %></td>
          <% end -%>

        <% end -%>
        <!-- get fields -->
        <!-- if no field add in custom field -->
        <% if  contact_list.fields.count != @custom_fields.count %>
          <% diference = @custom_fields.count - contact_list.fields.count %>
          <% for i in 1..diference %>
            <td></td>
          <% end -%>
        <% end -%>
        <!-- if no field add in custom field -->
        
        <td>
          <%= link_to edit_contact_list_path(contact_list), title: "Atualizar Contato" do %>
            <i class="refresh icon teal"></i>
          <% end -%>
          
          <%= link_to contact_list, method: :delete, data: { confirm: 'Tem certeza disso?' }, title: "Remover Contato" do %>
            <i class="remove user icon red"></i>
          <% end -%>
        </td>

      </tr>
    <% end -%>

  </tbody>
<table>