<p id="notice"><%= notice %></p>

<h1>Listing Contact Lists</h1>

<table>
  <thead>
    <tr class="head">
      <th class="field">Nome</th>
      <th class="field">E-mail</th>
      
      <% if @custom_fields %>
        <% @custom_fields.each do |custom_field| %>
          <th class="field"><%= custom_field.title %></th>
        <% end -%>
      <% end -%>

    </tr>
  </thead>
  <tbody class="contacts">
    
    <% @contact_lists.each do |contact_list| %>
      <tr class="contact">
        <th class="contact-name"><%= contact_list.name %></th>
        <th class="contact-email"><%= contact_list.email %></th>
        <th><%= link_to 'Show', contact_list %></th>
        <th><%= link_to 'Edit', edit_contact_list_path(contact_list) %></th>
        <th><%= link_to 'Destroy', contact_list, method: :delete, data: { confirm: 'Are you sure?' } %></th>
      </tr>
    <% end %>
    
  </tbody>
</table>


<br>

<%= link_to 'Novo contato', new_contact_list_path %><br>
<%= link_to 'Sair', destroy_user_session_path, method: :delete %><br>
<%= link_to 'Configurar campos personalizados', custom_field_index_path %>
