<%= render 'layouts/menu', page: "Editar campo personalizado" %>


<div class="ui container form">

  <h1 class="ui dividing header">
    Atualizar campo personalizado
    <%= link_to contact_lists_path, class: "icon-title", title: "Voltar para lista de contatos" do %>
      <i class="users icon teal"></i>
    <% end -%>
  </h1>

  <%= form_for @custom_field, url: custom_field_path, html: { method: :put, class: "ui form" } do |f| %>
    <% if @custom_field.errors.any? %>
      <div id="error_explanation" class="ui error message">
        <ul class="forms-errors list">
        <% @custom_field.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :title, "Titulo" %>
      <%= f.text_field :title %>
    </div>

    <%= f.submit "Atualizar", class: "ui button blue" %>
  <% end -%>
</div>