<h1>Adicionar novo campo personalizado</h1>

<%= form_for @custom_field, url: custom_field_index_path, html: { method: :post } do |f| %>
  <% if @custom_field.errors.any? %>
    <div id="error_explanation">
      <ul class="forms-errors">
      <% @custom_field.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, options_for_select([["Texto curto", "text"], ["Texto longo", "text_area"], ["Caixa de seleção", "combobox"]]) %>
  </div>

  <div class="actions">
    <%= f.submit "Criar" %>
  </div>
<% end -%>